*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Oswald', sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: solid 1px #43434320;
  z-index: 10;
}
nav img {
  height: 55px;
}
nav button {
  background-color: transparent;
  border: none;
}
nav button i {
  font-size: 24px;
  cursor: pointer;
  color: #434343;
  transition: 0.5s;
}
nav button i:hover {
  font-size: 28px;
}
header {
  height: 350px;
  background-color: #eb4a5a;
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  height: 200px;
  margin-top: 60px;
}
.car__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  height: 85%;
  top: 65px;
  width: 40%;
  overflow-y: scroll;
  transition: 0.5s;
  box-shadow: 5px 10px 20px 0px rgba(67, 67, 67, 0.461);
  left: 100%;
}
/* .car__toggle {
  display: block;
} */
.nav__car__visible {
  left: 60%;
}
main h3 {
  margin: 40px;
  font-size: 26px;
  color: #434343;
}
.principal__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin: 60px 40px;
}
.product__container {
  max-width: 300px;
  height: 100%;
  transition: all 0.25s;
}
.product__container:hover {
  transform: translateY(-10px);
  box-shadow: 0px 5px 20px 2px #43434335;
}
.product__container__img img {
  max-width: 290px;
}
.product__container__name {
  margin-bottom: 20px;
}
.product__container__name p {
  width: 200px;
  padding-left: 20px;
}
.product__container__price {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}
.product__container__price p {
  font-size: 20px;
  font-weight: bold;
  padding-right: 20px;
}
.product__container__button {
  padding-left: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.car__button {
  background-color: #eb4a5a;
  padding: 8px;
  color: white;
  width: 100px;
  border-radius: 20px;
  border: solid 1px white;
  cursor: pointer;
  transition: 0.5s;
}
.product__details {
  background-color: #274671;
  padding: 8px;
  color: white;
  width: 100px;
  border-radius: 20px;
  border: solid 1px white;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 20px;
}
.car__button:hover {
  transform: translateY(-3px);
}
.product__details:hover {
  transform: translateY(-3px);
}
.car__product__image {
  display: flex;
  justify-content: center;
}
.car__product__image img {
  width: 150px;
  height: 150px;
}
.car__product__description p:nth-child(1){
  font-weight: 700;
  margin: 10px 20px;
  color: #434343;
}
.car__product__description p:nth-child(2) {
  margin: 10px 20px;
  font-weight: 300;
}
.car__product__description p:nth-child(3) {
  margin: 10px 20px;
  font-weight: 300;
}
.car__product__button {
  display: flex;
  justify-content: flex-end;
}
.car__product__button button {
  background-color: #eb4a5a;
  height: 30px;
  width: 80px;
  color: white;
  margin: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.car__product__button button:hover {
  transform: scale(1.1);
}
.car__block hr {
  border: none;
  height: 1px;
  background-color: #4343435d;
}
.car__block .empty__button {
  width: 150px;
  background-color: #274671;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  min-height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
}
.car__block .empty__button:hover {
  transform: translateY(-3px);
}
.modal__container__element {
  background-color: white;
  width: 85%;
  max-width: 1000px;
  min-height: 65%;
  position: fixed;
  top: 13%;
  left: 20%;
  box-shadow: 0px 10px 20px 8px #43434385;
  display: none;
}
.modal__container__element .close {
  display: flex;
  justify-content: flex-end;
  color: #434343;
  font-size: 24px;
}
.modal__container__element div i {
  margin: 10px 20px;
  transition: 0.5s;
  cursor: pointer;
}
.modal__container__element div i:hover {
  transform: rotate(90deg);
}
.show__modal {
  display: block;
}
.principal__element {
  display: flex;
  justify-content: space-around;
}
.first__modal__text p:first-child {
  font-size: 26px;
  color: #434343;
  margin-bottom: 20px;
}
.first__modal__text p:last-child {
  font-size: 28px;
  color: #434343;
  font-weight: 700;
  margin-bottom: 20px;
}
.first__modal__colors p {
  font-size: 18px;
  margin-bottom: 10px;
}
.first__modal__colors div {
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 40px;
  
}
.first__modal__colors div:hover {
  border: solid 1px #274671;
}
.first__modal__sizes__text div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.first__modal__sizes__text div p:first-child {
  font-size: 18px;
}
.first__modal__sizes__text div p:last-child {
  font-size: 14px;
  color: #434343;
}
.first__modal__colors div img {
  width: 100px;
}
.first__modal__sizes {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.first__modal__sizes div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 40px;
}
.first__modal__sizes div:hover {
  border: solid 1px #274671;
  transform: scale(1.1);
}
.second__modal__section {
  position: relative;
  z-index: 1;
}
.first__modal__sizes div p {
  font-size: 18px;
  color: #434343;
}
.second__modal__section img {
  width: 350px;
  position: absolute;
  top: 10%;
  right: 0;
}
.second__modal__section div {
  background-color: #eb4a5a;
  width: 200px;
  height: 400px;
  position: relative;
}
@media screen and (max-width: 1550px){
  .modal__container__element {
    left: 15%;
  }
}
@media screen and (max-width: 1300px){
  .modal__container__element {
    left: 9%;
  }
}
@media screen and (max-width: 992px){
  .first__modal__sizes__text {
    max-width: 300px;
  }
  .first__modal__sizes {
    max-width: 300px;
    gap: 20px;
  }
  .first__modal__sizes div {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px){
  .car__block {
    width: 70%;
  }
  .nav__car__visible {
    left: 30%;
  }
  .first__modal__sizes__text {
    max-width: 100%;
  }
  .first__modal__sizes {
    max-width: 100%;
  }
  .principal__element {
    flex-direction: column;
    margin: 0 20px;
  }
  .modal__container__element {
    top: 10%;
  }
  .first__modal__text p:first-child {
    margin-bottom: 10px;
  }
  .first__modal__text p:last-child {
    margin-bottom: 10px;
  }
  .first__modal__colors div {
    margin-bottom: 10px;
  }
  .first__modal__sizes__text div {
    margin-bottom: 10px;
  }
  .second__modal__section {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  .second__modal__section div {
    height: 320px;
  }
  .second__modal__section img {
    top: 0%;
    width: 320px;
  }
}
@media screen and (max-width: 450px){
  .first__modal__text p:first-child {
    font-size: 22px;
  }
  .first__modal__text p:last-child {
    font-size: 24px;
  }
  .modal__container__element {
    top: 7.9%;
  }
}